@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

:root {
    --primary-150: hsla(341, 73%, 35%, 1);
    --primary-100: hsla(341, 73%, 43%, 1);
    --primary-70: hsla(341, 70%, 60%, 1);
    --primary-50: hsla(341, 80%, 75%, 0.7);
    --font-100: hsla(0, 0%, 0%, 1);
    --font-90: hsla(0, 0%, 20%, 1);
    --font-70: hsla(0, 0%, 25%, 1);
    --font-50: hsla(0, 0%, 30%, 1);
    --font-10: hsla(100, 90%, 100%, 1);
    --bg-primary: #fff;
    --bg-success: #81db7b;
    --bg-success-hover: #59c052;
    --bg-error: #ff9494;
    --bg-error-hover: #cf6464;
    --bg-info: #67c7ff;
    --bg-info-hover: #4ea5d8;
    --bg-warning: #ffecb5;
    --bg-warning-hover: #ebd38d;
    --font-success: #036318;
    --font-error: #842029;
    --font-warning: #664d03;
    --font-info: #055160;
    --primary-hover: hsla(341, 73%, 63%, 0.1);
    --border-white: #0f0f0f50;
    --shadow-white: 0px 0px 10px 2px #e7e3e3;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-base {
    justify-content: center;
    align-items: baseline;
}
.row-center {
    justify-content: center;
}
.col-center {
    align-items: center;
}
.ml-auto {
    margin-left: auto;
}
.icons-container img {
    margin: 0 0.625rem;
    width: 2rem;
}
.footer-fixed {
    position: sticky;
    bottom: 0;
    background-color: var(--bg-primary);
    padding: 0.625rem;
}

@media screen and (min-width: 640px) {
    .icons-container img {
        margin: 0 0.625rem;
        width: 2.5rem;
    }
}
