@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

:root {
  /* colors */
  --primary-150: #9a1841;
  --primary-100: #be1e50;
  --primary-70: #e0527f;
  --primary-50: #f28cada0;
  --font-100: #000000;
  --font-90: #333333;
  --font-70: #404040;
  --font-50: #4d4d4d;
  --font-10: #ffffff;
  --bg-primary: #ffffff;
  --hover-light: #dbd8d87d;
  --bg-success: #81db7b;
  --bg-success-hover: #59c052;
  --bg-error: #ff9494;
  --bg-error-hover: #cf6464;
  --bg-info: #67c7ff;
  --bg-info-hover: #4ea5d8;
  --bg-warning: #ffecb5;
  --bg-warning-hover: #ebd38d;
  --font-success: #036318;
  --font-error: #842029;
  --font-warning: #664d03;
  --font-info: #055160;
  --primary-hover: #e65c8720;
  --shadow-white: 0px 0px 10px 2px #e7e3e3;

  /* spacing */
  --spacing-xl: 1.5rem;
  --spacing-lg: 1rem;
  --spacing-md: 0.625rem;
  --spacing-sm: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-base {
  justify-content: center;
  align-items: baseline;
}
.row-center {
  justify-content: center;
}
.col-center {
  align-items: center;
}
.ml-auto {
  margin-left: auto;
}
.footer-fixed {
  position: sticky;
  bottom: 0;
  background-color: var(--bg-primary);
  padding: 0.625rem;
}
.icons-container i {
  color: var(--docs-font-100);
}
.icons-container a {
  margin: 0 var(--spacing-md);
}

@media screen and (min-width: 640px) {
  .icons-container img {
    margin: 0 0.625rem;
    width: 2.5rem;
  }
}
