@import url("../utility.css");

.avatar {
    box-sizing: border-box;
    margin: 0.625rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.avatar-round {
    border-radius: 50%;
}
.avatar-round-bd {
    border-radius: 50%;
    border: 3px solid var(--primary-50);
    padding: 3px;
}
.avatar-round-bd img {
    border-radius: 50%;
}
.avatar-square {
    border-radius: 0.625rem;
}
.avatar img {
    width: 100%;
    height: 100%;
}
.avatar-xl {
    width: 4rem;
    height: 4rem;
}
.avatar-lg {
    width: 3.2rem;
    height: 3.2rem;
}
.avatar-md {
    width: 2.4rem;
    height: 2.4rem;
}
.avatar-sm {
    width: 1.8rem;
    height: 1.8rem;
}
