@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("../utility.css");

.btn {
    border: none;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: 400ms;
    background-color: inherit;
    padding: 0.375rem 0.875rem;
    border-radius: 3px;
    margin: 1rem;
}
.btn-primary {
    min-width: 7.5rem;
    text-align: center;
    background-color: var(--primary-100);
    border: 2px solid var(--primary-100);
    color: var(--font-10);
}
.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-150);
}
.btn-secondary {
    padding: 0.375rem 0.875rem;
    border-radius: 3px;
    min-width: 7.5rem;
    text-align: center;
    border: 2px solid var(--primary-100);
    color: var(--primary-100);
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--primary-100);
    color: var(--font-10);
}
.btn-link {
    font-size: 1rem;
    color: var(--primary-100);
}
.btn-link:hover, .btn-link:focus {
    background-color: var(--primary-hover);
}
.btn-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-100);
    color: var(--font-10);
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 1rem;
}
.btn-icon:hover, .btn-icon:focus {
    background-color: var(--primary-150);
}
.btn-success {
    background-color: var(--bg-success);
    color: var(--font-success);
}
.btn-success:hover, .btn-success:focus {
    background-color: var(--bg-success-hover);
}
.btn-warning {
    background-color: var(--bg-warning);
    color: var(--font-warning);
}
.btn-warning:hover, .btn-warning:focus {
    background-color: var(--bg-warning-hover);
}
.btn-error {
    background-color: var(--bg-error);
    color: var(--font-error);
}
.btn-error:hover, .btn-error:focus {
    background-color: var(--bg-error-hover);
}
.btn-info {
    background-color: var(--bg-info);
    color: var(--font-info);
}
.btn-info:hover, .btn-info:focus {
    background-color: var(--bg-info-hover);
}
.btn-float {
    background-color: var(--primary-100);
    color: var(--font-10);
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.btn-float:hover, .btn-float:focus {
    background-color: var(--primary-150);
}

@media screen and (min-width: 640px) {
    .btn {
        font-size: 1.2rem;
    }
}
