@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("../utility.css");
@import url("./button.css");

:root {
    --card-shadow-hover: 0 0 15px 5px #b6b6b6c2;
}

.card {
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--shadow-white);
    background-color: var(--bg-primary);
    word-wrap: break-word;
    cursor: pointer;
    margin: 0.625rem;
    position: relative;
    transition: box-shadow 150ms;
}
.card:hover {
    box-shadow: var(--card-shadow-hover);
}
.icon-dismiss {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 1.8rem;
    height: 1.8rem;
    display: block;
    background-color: var(--bg-primary);
    border-radius: 50%;
    padding: 5px;
    z-index: 10;
}
.card-cover {
    width: 100%;
    height: 8rem;
    position: relative;
}
.card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card .btn-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    background-color: var(--bg-primary);
}
.card .btn-icon img,
.card .btn-icon i {
    width: 20px;
    height: 20px;
}
.card .btn-icon:hover {
    background-color: var(--bg-primary);
}
.card-title-container {
    width: 100%;
    padding: 0.625rem 0 5px 0.8rem;
}
.card-title {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 1rem;
}
.card-subtitle {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: var(--font-50);
}
.card-price {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}
.card .rating {
    margin-top: 5px;
    padding-left: 0.625rem;
}
.card .rating img,
.card .rating i {
    width: 20px;
}
.card-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.625rem;
}
.card-bottom .btn {
    width: 100%;
    padding: 4px 8px;
    margin: 8px;
}
.card-badge .badge {
    top: 0;
    left: 0;
    right: auto;
    z-index: 2;
    padding: 5px 8px;
}
.open-card {
    display: none;
}
.card-header .card-title-container {
    order: -1;
}
.card-header .card-bottom {
    padding: 1rem 0 0.625rem 0;
}
.text-overlay {
    position: absolute;
    z-index: 20;
    color: var(--font-10);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    transition: 150ms;
}
.text-overlay:hover {
    background-color: var(--primary-hover);
}
.text-overlay .card-subtitle {
    color: var(--font-10);
}
.card-horizontal {
    min-width: 100%;
    height: clamp(10rem, 15rem, 20rem);
    flex-direction: row;
}
.card-horizontal .card-cover {
    width: 50%;
    min-height: 100%;
}
.card-horizontal .btn-icon {
    left: 0;
    top: 0;
    right: auto;
}
.card-horizontal .card-content {
    width: 50%;
}
.card-horizontal .card-bottom .btn {
    padding: 5px;
    min-width: 0;
}
.card-horizontal .rating img,
.card-horizontal .rating i {
    width: clamp(10px, 12px, 15px);
    margin: 3px;
}
@media screen and (min-width: 480px) {
    .card {
        width: 14rem;
    }
    .card-cover {
        height: 10rem;
    }
}

@media screen and (min-width: 684px) {
    .card {
        width: 16rem;
    }
    .card-cover {
        height: 12rem;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .card-subtitle {
        font-size: 0.95rem;
    }
    .card .icon {
        width: 2rem;
        height: 2rem;
        padding: 8px;
    }
    .card-horizontal {
        min-width: max-content;
    }
}

@media screen and (min-width: 760px) {
    .card {
        width: 18rem;
    }
    .card-cover {
        height: 14rem;
    }
    .card .btn {
        font-size: 0.9rem;
    }
}
