@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("../utility.css");

.input {
    background-color: inherit;
    border: none;
    padding: var(--spacing-md);
    padding-bottom: 3px;
    margin: var(--spacing-md);
    font-size: 0.9rem;
    position: relative;
    border-bottom: 3px solid;
}
.input::placeholder {
    color: var(--font-50);
    font-weight: 600;
}
.input:focus {
    outline: none;
}
.input-success {
    border-bottom: 3px solid var(--bg-success);
    color: var(--font-success);
}
.input-warning {
    border-bottom: 3px solid var(--bg-warning);
    color: var(--font-warning);
}
.input-error {
    border-bottom: 3px solid var(--bg-error);
    color: var(--font-error);
}

@media screen and (min-width: 640px) {
    .input {
        font-size: 1rem;
    }
}
