@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("../utility.css");
@import url("./button.css");

.modal {
    max-width: 70%;
    max-height: 12rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-white);
    background-color: var(--bg-primary);
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-radius: 5px;
    overflow-y: auto;
    transition: 250ms;
}
.modal img,
.modal i {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.2rem;
    cursor: pointer;
}
.modal h5 {
    margin: var(--spacing-md);
    font-size: 1.3rem;
}
.modal p {
    margin: var(--spacing-md);
    color: var(--font-70);
}
.modal .btn-container {
    margin-left: auto;
}
.modal .btn {
    min-width: fit-content;
}
.open-modal {
    transform: translateX(-50%) scale(1);
}
.close-modal {
    transform: translateX(-50%) scale(0);
}

@media screen and (min-width: 780px) {
    .modal {
        max-width: 14rem;
    }
    .modal img,
    .modal i {
        width: 1.5rem;
    }
}
@media screen and (min-width: 890px) {
    .modal {
        max-width: 25rem;
    }
}
