@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("../utility.css");
@import url("./input.css");
@import url("./button.css");

.nav {
    width: 100%;
    height: 60px;
    box-shadow: var(--shadow-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-primary);
}
.nav .logo {
    font-size: 1.3rem;
}
.nav .search {
    display: none;
}

@media screen and (min-width: 840px) {
    .nav .search {
        display: block;
        position: relative;
        color: var(--font-100);
    }
    .open-menu {
        display: none;
    }
    .search button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        cursor: pointer;
    }
}
